<!--<form action="" method="get" accept-charset="UTF-8">-->
<!--  <input type="hidden" name="authenticity_token" value="">-->
<!--  <label for="username">Username: </label>-->
<!--  <input type="text" name="user[username]"><br>-->
<!--  <label>Email: </label>-->
<!--  <input type="email" name="user[email]"><br>-->
<!--  <label>Password: </label>-->
<!--  <input type="password" name="user[password]"><br>-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->

<%= form_tag(new_user_path, :method=>'post') do %>
  <%= label_tag 'username' %>
  <%= text_field_tag 'Username' %>
  <%= label_tag 'email' %>
  <%= email_field_tag 'email' %>
  <%= password_field_tag 'password' %>
  <%= submit_tag 'Submit' %>
<% end %>
